@tailwind base;
@tailwind components;
@tailwind utilities;

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  background-image: linear-gradient(to top, #30cfd0 5%, #330867 50%, rgb(2, 2, 63) 100%);
  background-repeat: no-repeat;
  height: 100%;
  font-family: 'Poppins', 'sans-serif';
  color: white
}


nav {
  background-color:  rgb(2, 2, 63);
}

.radius-inherit {
  border-radius: inherit;
}

.zoom {
  transition-duration: 0.5s;
}
